{% extends "base.html" %}
{% load static %}
{% block title %}{{ article.title }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-4">
          {% if article.image %}
  <img src="{{ article.image.url }}" class="card-img-top w-100" alt="...">
  {% else %}
  <img src="{%static 'images/article.png' %}" class="card-img-top w-100" alt="...">
  {% endif %}
    </div>
    <div class="col">
        <h1>{{ article.title }}</h1>
        <p>{{ article.content }}</p>
        <div class="d-flex align-items-center">
            <span class="badge text-bg-secondary me-4">{{ article.created_at }}</span>
            <span class="badge text-bg-secondary">Author: {{ article.author }}</span>
        </div>
        
        {% if user.is_authenticated and article.author == user %}
        <p class="my-5">
            <a class="btn btn-warning" href="{% url 'article_edit' article.slug %}">Tahrirlash</a> 
            <a class="btn btn-danger" href="{% url 'article_delete' article.slug %}">O'chirish</a>
        </p>
        {% endif %}

        <div class="text-center">
            <a class="btn btn-secondary my-5" href="{% url 'article_list' %}">Orqaga</a>
        </div>
    </div>
</div>
{% endblock %}


