{% extends "base.html" %}
{% load static %}
{% block title %}Maqolalar{% endblock %}
{% block content %}
<h1 class="text-center">Maqolalar ro'yxati</h1>
<div class="container">
   <form method="get" class="d-flex justify-content-center">
     <div class="input-group mb-3 w-50 me-3">
       <input type="text" class="form-control" name="q" placeholder="Qidiruv..." value="{{ q|default:'' }}" aria-label="Recipient’s username" aria-describedby="button-addon2">
       <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
       
      </div>
      <div>
        {% if user.is_authenticated %}
          <p>
            <a class="btn btn-secondary" href="/?mine=1">Mening</a>
            <a class="btn btn-secondary" href="/">Hammasi</a>
          </p>
          {% endif %}
      </div>
    </form>
</div>
<div class="row">
{% for article in articles %}
      <div class="col-3">
    <div class="card my-card" style="height: 561px;"  >
        {% if article.image %}
  <img src="{{ article.image.url }}" class="card-img-top w-100" alt="...">
  {% else %}
  <img src="{%static 'images/article.png' %}" class="card-img-top w-100" alt="...">
  {% endif %}
  <div class="card-body">
    <h5 class="card-title">{{ article.title }}</h5>
    <p class="card-text">{{ article.content | truncatechars:100 }}</p>
    <a href="{% url 'article_detail' article.slug %}" class="btn btn-primary">Detail Page</a>
    <small style="font-size: 10px; text-decoration:underline;">{{ article.created_at }}</small>
  </div>
</div>
  </div>
{% empty %}

  <h1 class="text-center my-3 text-danger">Hech narsa topilmadi</h1>
<img class="w-25 my-5 mx-auto" src="{% static 'images/none.png' %}" alt="">


{%endfor %}
</div>

{% endblock content %}


